@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap');

.skill-match-font {
    font-family: "WDXL Lubrifont SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .animation-svg > svg path {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: .1;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: dash 2s ease-in-out infinite;
  }

  @keyframes dash {
    to {
      fill: #686868;
      stroke-width: 1;
      stroke-dashoffset: 0;
    }
  }